<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/all.css" | relURL }}" />    
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <div class="header">
      <div class="header-logo" style="background-image: url( {{"/images/profile2.jpg"}});"></div>
      <h1 class="header-title"><a href="/">Jayaram Kancherla</a></h1>
      <nav>
      <ul class="menu">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
      </nav>
    </div>
    <hr/>
